[submodule "hunter"]
	path = hunter
	url = git@github.com:ivsgroup/hunter.git
	branch = ivs
[submodule "googletest"]
	path = googletest
	url = git@github.com:ivsgroup/googletest.git
	branch = ivs
[submodule "opencv"]
	path = opencv
	url = git@github.com:ivsgroup/opencv.git
	branch = ivs
[submodule "boost_patch_warnings"]
	path = boost_patch_warnings
	url = git@github.com:ivsgroup/boost_patch_warnings.git
	branch = ivs
[submodule "boost_warnings_minimal_demo"]
	path = boost_warnings_minimal_demo
	url = git@github.com:ivsgroup/boost_warnings_minimal_demo.git
