[submodule "hunter"]
	path = hunter
	url = git@github.com:ivsgroup/hunter.git
	branch = ivs
[submodule "googletest"]
	path = googletest
	url = git@github.com:ivsgroup/googletest.git
	branch = ivs
[submodule "opencv"]
	path = opencv
	url = git@github.com:ivsgroup/opencv.git
	branch = ivs
